@model EquipmentRental.DataAccess.Models.Feedback

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Feedback</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="FeedbackId" />
            <div class="form-group">
                <label asp-for="EquipmentId" class="control-label"></label>
                <select asp-for="EquipmentId" class="form-control" asp-items="ViewBag.EquipmentId"></select>
                <span asp-validation-for="EquipmentId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserId" class="control-label"></label>
                <select asp-for="UserId" class="form-control" asp-items="ViewBag.UserId"></select>
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CommentText" class="control-label"></label>
                <input asp-for="CommentText" class="form-control" />
                <span asp-validation-for="CommentText" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rating" class="control-label"></label>
                <input asp-for="Rating" class="form-control" />
                <span asp-validation-for="Rating" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedAt" class="control-label"></label>
                <input asp-for="CreatedAt" class="form-control" />
                <span asp-validation-for="CreatedAt" class="text-danger"></span>
            </div>
            <div class="form-check mb-3">
                <input asp-for="IsVisible" class="form-check-input" type="checkbox" />
                <label asp-for="IsVisible" class="form-check-label">Visible to Customers</label>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
